[submodule "spice-common"]
	path = subprojects/spice-common
	url = ../spice-common.git
[submodule "keycodemapdb"]
	path = subprojects/keycodemapdb
	url = https://gitlab.com/keycodemap/keycodemapdb.git
